/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    font-family: Sans-Serif;
}

.card {
    border: solid 1px #999;
    border-radius: .2rem;
    margin-bottom: .5rem;
    &-body {
        p {
            margin-top: 0;
        }
        padding: 0.5rem 1rem;
    }
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}